{%extends 'base.html'%}
{% block title%}About Me{% endblock %}
      {% block content%}

<section class="hero-home dark-overlay mb-5"><img class="bg-image" src="/media/post/335853.jpg" alt="">
      <div class="container py-7">
        <div class="overlay-content text-center text-white">
          <h1 class="display-3 text-serif font-weight-bold text-shadow mb-0">About Us</h1>
        </div>
      </div>
    </section>
<br>
<br>

<div class="container">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu elementum risus. Nunc eget facilisis sem. Vestibulum neque nisl, euismod laoreet nunc ac, condimentum varius ipsum. Integer molestie turpis eget tincidunt aliquet. Duis non finibus lorem. Nulla vitae erat consequat, rhoncus nibh in, luctus sapien. Quisque urna leo, facilisis nec est vel, bibendum cursus massa. Proin semper facilisis ante ac pharetra. In hac habitasse platea dictumst.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu elementum risus. Nunc eget facilisis sem. Vestibulum neque nisl, euismod laoreet nunc ac, condimentum varius ipsum. Integer molestie turpis eget tincidunt aliquet. Duis non finibus lorem. Nulla vitae erat consequat, rhoncus nibh in, luctus sapien. Quisque urna leo, facilisis nec est vel, bibendum cursus massa. Proin semper facilisis ante ac pharetra. In hac habitasse platea dictumst.
</div>
<br>
<br>




{% endblock %}